<h1 md-dialog-title dir="RTL" color="warn">{{'delete_agreement'|translate}}</h1>
<div md-dialog-content  dir="RTL">
  <p>{{'do_you_want_to_delete_agreement'|translate}}?</p>
  <p><label>{{'agreement'|translate}}: </label> {{data.row.title}}</p>
  
</div>
<div md-dialog-actions  dir="RTL">
  <button md-button [md-dialog-close]="data" tabindex="2" color="warn" (click)="delete(data.id,todelete.value)">{{'yes'|translate}}</button>
  <button md-button (click)="onNoClick()" tabindex="-1">{{'no'|translate}}</button>
</div>
<input type="hidden" value="{{'deleted'|translate}}" #todelete/>