<div md-dialog-content dir="RTL">
  <p>{{'password_update'|translate}}</p>
  <form novalidate [formGroup]="passForm"  class="form-inline">
    <md-form-field>
      <input mdInput tabindex="1" formControlName="old_pass" placeholder="{{'old_pass'|translate}}" type="password"/>
      <valid-err [control]="passForm.controls['old_pass']"></valid-err>
    </md-form-field>
    <md-form-field>
      <input mdInput tabindex="1" formControlName="new_pass" placeholder="{{'new_pass'|translate}}" type="password"/>
      <valid-err [control]="passForm.controls['new_pass']"></valid-err>
    </md-form-field>
    <md-form-field>
      <input mdInput tabindex="1" formControlName="re_new_pass" placeholder="{{'re_new_pass'|translate}}" type="password"/>
      <valid-err [control]="passForm.controls['re_new_pass']"></valid-err>
    </md-form-field>
  </form>
</div>
<div md-dialog-actions dir="RTL">
  <button md-button color="primary" (click)="save()" tabindex="2" [disabled]="!passForm.valid || passForm.value.new_pass!=passForm.value.re_new_pass">{{'save'|translate}}</button>
  <button md-button color="warn" (click)="onNoClick()" tabindex="-1">{{'no_thanks'|translate}}</button>
</div>
