<div md-dialog-content dir="RTL">
  <p>{{'update'|translate}}</p>
  <form novalidate [formGroup]="agentForm"  class="form-inline">
    <md-form-field>
      <input mdInput tabindex="1" formControlName="username" placeholder="{{'username'|translate}}"/>
      <valid-err [control]="agentForm.controls['username']"></valid-err>
    </md-form-field>
    <md-form-field>
      <input mdInput tabindex="1" formControlName="national_id" placeholder="{{'personal_id'|translate}}"/>
      <valid-err [control]="agentForm.controls['national_id']"></valid-err>
    </md-form-field>
    <md-form-field>
      <input mdInput [mdDatepicker]="picker" placeholder="{{'birthday'|translate}}" formControlName="birthday">
      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      <md-datepicker #picker startView="year" [startAt]="startDate"></md-datepicker>
    </md-form-field>
    <md-form-field>
      <input mdInput tabindex="1" formControlName="mobile" placeholder="{{'phone'|translate}} {{'mobile'|translate}}"/>
      <valid-err [control]="agentForm.controls['mobile']"></valid-err>
    </md-form-field>
    <md-form-field>
      <input mdInput formControlName="phone" placeholder="{{'phone'|translate}}"/>
      <valid-err [control]="agentForm.controls['phone']"></valid-err>
    </md-form-field>
    <md-form-field>
      <input mdInput formControlName="email" placeholder="{{'email'|translate}}"/>
      <valid-err [control]="agentForm.controls['email']"></valid-err>
    </md-form-field>
  </form>
</div>
<div md-dialog-actions dir="RTL">
  <button md-button color="primary" (click)="save()" tabindex="2" [disabled]="!agentForm.valid">{{'save'|translate}}</button>
  <button md-button color="warn" (click)="onNoClick()" tabindex="-1">{{'no_thanks'|translate}}</button>
</div>
