<!-- <h1 md-dialog-title dir="RTL" color="warn">{{'reset'|translate}} {{'member'|translate}}</h1>
<div md-dialog-content  dir="RTL">
  <p>{{'do_you_want_to_reset_this_member'|translate}}</p>
  <p><label>{{'phone'|translate}}: </label> {{data.member.phone}}</p>
  <p><label>{{'sim'|translate}}: </label> {{data.member.sim}}</p>
  
</div>
<div md-dialog-actions  dir="RTL">
  <button md-button [md-dialog-close]="data" tabindex="2" color="warn" (click)="delete(data.id,todelete.value)">{{'yes'|translate}}</button>
  <button md-button (click)="onNoClick()" tabindex="-1">{{'no'|translate}}</button>
</div>
<input type="hidden" value="{{'deleted'|translate}}" #todelete/> -->