/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
  }
  
  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .discountshide{
    display: none;
  }
  .mat-chip:not(.mat-basic-chip) {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 24px;
    align-items: center;
    cursor: default;
    margin: 0 8px 3px 0;
}
@media (max-width: 600px){
    .mat-toolbar,.example-container {
        min-width: 280px!important;
    }
}
.declined,.cancel{
  color:red;
  font-weight: bold;
}
.new{
  color: blue;
  font-weight: bold;
}
.completed{
  color:green;
}
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}