<md-toolbar color="primary">{{'blocked_packages'|translate}}</md-toolbar>
<md-toolbar><button md-button (click)="openAddDialog()" style="position: relative;
    float: left;margin-bottom:5px;margin-right:10px;"><md-icon color="primary">add_circle</md-icon></button>
    <button md-button style="position: relative;
    float: left;margin-bottom:5px;margin-right:10px;" (click)="loadExcel()">{{'excel'|translate}}&nbsp;<md-icon color="primary">file_download</md-icon></button>
  </md-toolbar>
<div class="example-container mat-elevation-z8">
        <div class="example-header">
            <md-form-field floatPlaceholder="never">
                <input mdInput placeholder="{{'search'|translate}}" #filter>
                <md-icon mdSuffix>search</md-icon> 
            </md-form-field>
        </div>
        <md-table #table [dataSource]="dataSource" dir="RTL" mdSort>
           
            <ng-container mdColumnDef="createdAt">
                <md-header-cell *mdHeaderCellDef md-sort-header>{{'created_at'|translate}} </md-header-cell>
                <md-cell *mdCellDef="let row"> {{row.createdAt}} </md-cell>
            </ng-container>
            <ng-container mdColumnDef="company">
                <md-header-cell *mdHeaderCellDef md-sort-header>{{'company'|translate}} </md-header-cell>
                <md-cell *mdCellDef="let row"> {{'company_name_'+row.company_id|translate}}  </md-cell>
            </ng-container>
            <ng-container mdColumnDef="package">
              <md-header-cell *mdHeaderCellDef md-sort-header>{{'product'|translate}} </md-header-cell>
              <md-cell *mdCellDef="let row"> 
                  <ng-container *ngIf="row.all_packages=='1'">
                      {{'all_packages'|translate}}
                  </ng-container>
                  <ng-container *ngIf="row.all_packages=='0'">
                      {{'prod_name_'+row.package_id|translate}} 
                  </ng-container>  
              </md-cell>
            </ng-container>
            <ng-container mdColumnDef="agent">
              <md-header-cell *mdHeaderCellDef md-sort-header>{{'agent'|translate}} </md-header-cell>
              <md-cell *mdCellDef="let row"> 
                <ng-container *ngIf="row.agent_id>0">{{row.agent}}</ng-container> 
                <ng-container *ngIf="row.agent_id==0">{{'all_agents'|translate}}</ng-container>  
                </md-cell>
            </ng-container>
           
            <ng-container mdColumnDef="id">
                <md-header-cell *mdHeaderCellDef md-sort-header>#</md-header-cell>
                <md-cell *mdCellDef="let row">
                    <button md-raised-button color="warn" *ngIf="row.active=='1'" (click)="active(row)">{{'unblock'|translate}}</button>
                    <button md-raised-button color="primary" *ngIf="row.active=='0'" (click)="active(row)">{{'block'|translate}}</button>
                    <md-icon (click)="delete(row)" color="warn" style="cursor:pointer;">delete</md-icon>
                </md-cell>
            </ng-container>
            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
        <md-paginator #paginator [length]="blocksDatabase.data.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
        </md-paginator>
    </div>
<md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>