.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}
.row [class^=col-] {
    margin-bottom:30px; 
    
}
.first{
    margin: auto;
    width: 100%;
    border:1px solid #ddd;
    padding-right: 0;
    padding-left: 0;
    border-radius: 3px;
}
dl {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 10px;
}
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
  }
  
  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .discountshide{
    display: none;
  }
  .mat-chip:not(.mat-basic-chip) {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 24px;
    align-items: center;
    cursor: default;
    margin: 0 8px 3px 0;
}
.dn{
    display: none!important;
}
@media (max-width: 600px){
    .mat-toolbar,.example-container {
        min-width: 280px!important;
    }
}
.declined,.cancel{
    color:red;
    font-weight: bold;
  }
  .new{
    color: blue;
    font-weight: bold;
  }
  .completed{
    color:green;
  }
  md-cell.completed:parent {
    background:green;
}