<ng-container *ngIf="data">
  <ng-container *ngIf="data.place=='notification'">
    <div dir="RTL" *ngIf="data.data && data.data.length>0">
        <h4 *ngIf="data.art=='new' && data.data.length>1" style="color:#8BC34A;">נכנסו {{data.data.length}} הזמנות חדשות!!</h4>
        <h4 *ngIf="data.art=='new' && data.data.length==1"  style="color:#8BC34A;">נכנסה הזמנה חדשה!!</h4>
        <h4 *ngIf="data.art=='cancel' && data.data.length>1" style="color:rgb(232, 48, 135);">הודעה על ביטול {{data.data.length}} הזמנות!!</h4>
        <h4 *ngIf="data.art=='cancel' && data.data.length==1"  style="color:rgb(232, 48, 135);">הודעה על ביטול הזמנה!!</h4>
        <h4 *ngIf="data.art=='trans' && data.data.length>1" style="color:#00aced;">הודעה על ניוד {{data.data.length}} מספרים!!</h4>
        <h4 *ngIf="data.art=='trans' && data.data.length==1"  style="color:#00aced;">הודעה על ניוד מספר!!</h4>
        <p *ngFor="let msg of data.data">
            <button md-button  routerLink="/הזמנה/{{msg.id}}" style="line-height: 1.3;" *ngIf="data.art=='new' || data.art=='cancel'">
              <span *ngIf="data.art=='new'"  style="float:right;color:#8BC34A;">({{msg.id}})&nbsp;</span>
              <span *ngIf="data.art=='cancel'"  style="float:right;color:rgb(232, 48, 135);">({{msg.id}})&nbsp;</span> 
              <span style="font-size:15px;" *ngIf="data.art=='new' || data.art=='cancel'">{{msg.username}}</span><br/>
              <span *ngIf="data.art=='new'" style="font-size:15px;color:#8BC34A;float:left;">({{msg.created_at}})</span>
              <span *ngIf="data.art=='cancel'" style="font-size:15px;color:rgb(232, 48, 135);float:left;">({{msg.cancel_from}})</span>
            </button>
            <button md-button  routerLink="/מספר/{{msg.id}}" style="line-height: 1.3;" *ngIf="data.art=='trans'">
              <span *ngIf="data.art=='trans'"  style="float:right;color:#00aced;">({{msg.id}})&nbsp;</span> 
              <span style="font-size:15px;" *ngIf="data.art=='trans'">{{msg.phone}}>>{{msg.moved_to_phone}}</span><br/>
              <span *ngIf="data.art=='trans'" style="font-size:15px;color:#00aced;float:left;">({{msg.created_at}})</span>
            </button>
        </p>
    </div>
  </ng-container>
  <ng-container *ngIf="data.place=='sim' || data.place=='phone' || data.place=='company' || data.place=='user'">
      <div dir="RTL">
        <h4 *ngIf="data.art=='add' || data.art=='edit' " style="color:#8BC34A;">{{data.title}}</h4>
        <h4 *ngIf="data.art=='delete' " style="color:rgb(232, 48, 135);">{{data.title}}</h4>
        <p>{{data.detail}}</p>
      </div>
  </ng-container>
</ng-container>

