
<md-toolbar color="primary"  *ngIf="user">{{'update_user'|translate}}: {{user.username}}</md-toolbar>

<div class="col-md-12" *ngIf="user">
    <form novalidate [formGroup]="userForm" (ngSubmit)="save()" autocomplete="off">
            <md-form-field>
                    <input mdInput formControlName="username" placeholder="{{'username'|translate}}"/>
                    <valid-err [control]="userForm.controls['username']"></valid-err>
                </md-form-field>
        <md-select placeholder="{{'user_art'|translate}}" formControlName="level_id" tabindex="1" *ngIf="!iam && authService.isAdmin()" >
            <md-option *ngFor="let e of userLevels" [value]="e.id">
                {{e.name|translate}}
            </md-option>
        </md-select>
        <valid-err [control]="userForm.controls['level_id']"></valid-err>
        <md-form-field>
                <input mdInput formControlName="firstname" placeholder="{{'firstname'|translate}}"/>
                <valid-err [control]="userForm.controls['firstname']"></valid-err>
            </md-form-field>
        <md-form-field>
                <input mdInput formControlName="lastname" placeholder="{{'lastname'|translate}}"/>
                <valid-err [control]="userForm.controls['lastname']"></valid-err>
            </md-form-field>
        <md-form-field>
                <input mdInput formControlName="national_id" placeholder="{{'personal_id'|translate}}"/>
                <valid-err [control]="userForm.controls['national_id']"></valid-err>
            </md-form-field>
        <md-form-field>
                <input mdInput [mdDatepicker]="picker" placeholder="{{'birthday'|translate}}" formControlName="birthday">
                <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                <md-datepicker #picker startView="year" [startAt]="startDate"></md-datepicker>
        </md-form-field>
        <md-form-field>
            <input mdInput formControlName="address" placeholder="{{'address'|translate}}"/>
        </md-form-field>
        
        
        <div class="form-group">
               
                        <md-checkbox formControlName="password_requied" (click)="togglePWD()">{{'password_update'|translate}}</md-checkbox>
               
        </div>
        <md-form-field *ngIf="showPwd">
                <input mdInput formControlName="password" placeholder="{{'password'|translate}}" autocomplete="new-password" type="password"/>
                <valid-err [control]="userForm.controls['password']"></valid-err>
            </md-form-field>
            <md-form-field *ngIf="showPwd">
                    <input mdInput formControlName="re_password" placeholder="{{'password_verification'|translate}}" autocomplete="new-password" type="password"/>
                    <valid-err [control]="userForm.controls['re_password']"></valid-err>
                </md-form-field>
        <md-form-field>
                <input mdInput formControlName="email" placeholder="{{'email'|translate}}"/>
                <valid-err [control]="userForm.controls['email']"></valid-err>
            </md-form-field>
           
            <md-form-field>
                <input mdInput formControlName="mobile" placeholder="{{'phone'|translate}} {{'mobile'|translate}}"/>
                <valid-err [control]="userForm.controls['mobile']"></valid-err>
            </md-form-field>
           
            <md-form-field>
                <input mdInput formControlName="phone" placeholder="{{'phone'|translate}}"/>
                <valid-err [control]="userForm.controls['phone']"></valid-err>
            </md-form-field>
        <button md-raised-button [disabled]="!userForm.valid" type="submit" >{{'save'|translate}}</button>

    </form>
</div>

<img *ngIf="loading"  style="position:absolute;top:200px;left:50%;"  src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
/>
<BR/>
<BR/>
<BR/>
