<div class="row"  >
  <div class="col-lg-12">
      <md-toolbar color="primary">{{'status_cellcom'|translate}}</md-toolbar>  
  </div>
  <div class="col-lg-12" style="margin:20px;">
      <md-form-field style="max-width:200px;">
    <input mdInput placeholder="{{'phone'|translate}}" [(ngModel)]="phone" >
    </md-form-field>
    <button md-raised-button color="primary" (click)="loadDetails()" >פרטי מספר</button>
          <br/><br/>
          <ng-container *ngIf="details && details!=null">
              <div [ngClass]="{'alert alert-danger':details=='0' || details.SIM_STATUS=='מושהה','alert alert-info':details.SIM_STATUS=='פעיל'}" 
              style="width:330px;padding:10px;">
        
                
                <div *ngIf="details && details.MSISDN">
                  <table>
                    <tr>
                      <td>
                        {{'phone'|translate}} :
                      </td>
                      <td>
                        {{details.MSISDN}}
                      </td>
                    </tr>
                    <tr>
                      <td>{{'sim'|translate}} : </td>
                      <td>{{details.ICCID}}</td>
                    </tr>
        
                  </table>
                </div>
                <span style="padding:10px;" *ngIf="details=='0'">{{'no_info_about_number'|translate}}</span>
               
              </div>
           
          </ng-container>
          <br/>
          <p *ngIf="details && details!=null && details.SIM_STATUS">
            <button md-raised-button color="primary" (click)="connect()" tabindex="2" [disabled]="details.SIM_STATUS=='פעיל'">{{'connect'|translate}}</button>
            <button md-raised-button color="warn" (click)="disconnect()" tabindex="2" [disabled]="details.SIM_STATUS=='מושהה'">{{'disconnect'|translate}}</button> 
          </p><br/>
          <div *ngIf="details && details!=null && details.SIM_STATUS=='פעיל' && !last_job">
              <md-form-field style="max-width:200px;">
              <input mdInput placeholder="{{'sim'|translate}}" [(ngModel)]="sim" >
            </md-form-field>
              <button md-raised-button color="primary" (click)="changeSim()" tabindex="2" [disabled]="!sim || sim==''">{{'change_sim'|translate}}</button>
          </div>
          <br/>
          <div class="alert alert-danger" style="width:330px;padding:10px;" *ngIf="last_job">
            <p>{{last_job.jobs[0].actions[0].targetValue}}</p>
            <p><strong>{{last_job.jobs[0].actions[0].errorMsg}}</strong></p>
            <p><strong>{{last_job.jobs[0].actions[0].errorDesc}}</strong></p>
          </div>
  </div>
</div>

<md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>